html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width: 960px;
    margin: auto;
}

.header__background {
    background-color: #ffba00;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: space-between;
    line-height: 52px;
    width: 936px;
    margin: auto;
}

.header__logo {
    width: calc(12%);
    display: flex;
    align-items: center;
}

.header__logo img {
    height: 35px;
}

.header__nav {
    width: calc(88%);
}

.header__nav .nav-item:hover {
    color: #222222;
    opacity: 0.6;
}

.header__nav .nav-item a {
    padding: 0 0 0 48px;
    color: #222222;
    font-size: 14px;
}

.header__nav .nav-item i {
    font-size: 125%;
    padding-right: 10px;
}

.header__nav .tooltip-dad {
    position: relative;
}

.header__nav .tooltip-dad:hover {
    opacity: 1;
}

.header__nav .tooltip-child-1 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    min-width: 110px;
    top: 50;
    left: 40;
    z-index: 1;
    border-radius: 5px;
}

.header__nav .tooltip-child-2 {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    top: 43;
    left: calc(65%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ffffff;
}

.header__nav .tooltip-child-1 p {
    font-size: 14px;
    color: #222222;
    line-height: 50px;
    margin: 0;
    box-sizing: border-box;
    padding: 0 5px;
    border-bottom: 1px solid #F4F4F4;
}

.header__nav .tooltip-dad:hover .tooltip-child-1 {
    display: block;
}

.header__nav .tooltip-dad:hover .tooltip-child-2 {
    display: block;
}

.header__nav .tooltip-child-1 li:hover {
    background-color: #f4f4f4;
    border-radius: 5px;
}

.input__background {
    background-color: #ffba00;
    position: sticky;
    top: 52;
    z-index: 100;
}

.input {
    width: 936px;
    margin: auto;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.search {
    width: calc(65%);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
}

.search input {
    width: calc(90%);
    border: none;
    font-size: 14px;
}

.search input:focus {
    box-shadow: none;
}

.search i {
    font-size: 125%;
    color: #fe9900;
    padding: 0 10px;
}

.log-in {
    width: calc(12%);
    display: flex;
}

.log-in:hover {
    color: #222222;
    opacity: 0.6;
}

.log-in i {
    font-size: 150%;
    line-height: 36px;
    padding-right: 10px;
}

.log-in a {
    color: #222222;
    font-size: 14px;
    font-weight: bold;
}

.log-in a:hover {
    color: #222222;
    text-decoration: none;
}

.post {
    width: calc(13.5%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: linear-gradient(67.33deg, #e64b00 7.92%, rgba(255, 115, 0, 0.9) 51.93%, #fe9900 90.76%);
    border-radius: 3px;
    margin: 2px 0;
}

.post a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

.main__advertisement img {
    width: 100%;
}

.main__background {
    background-color: #e5e5e5;
}

.main {
    width: 980px;
    margin: auto;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    background-color: #ffffff;
}

.main__slide-nav {
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 10px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__slide--overflow {
    font-size: 12px;
    width: calc(65% - 10px);
}

.main__slide--overflow a {
    color: #33659c;
}

.main__nav {
    width: calc(35%-10px);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.main__nav a {
    color: #000000;
}

.main__nav--back {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-right: 10px;
}

.main__nav>div:first-child {
    border-right: 15px solid #f1f1f1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.main__nav--next {
    background-color: #fdce09;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.main__nav>div:last-child {
    border-left: 15px solid #fdce09;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.main__content {
    display: flex;
    justify-content: space-between;
}

.main__content--left {
    width: calc(65%);
    box-sizing: border-box;
    padding: 0 15px 15px 15px;
}

.main__content--left .carousel-inner img {
    width: 100%;
    height: 455px;
    
}

.main__content--left>h3 {
    background-color: rgba(0, 0, 0, 0.8);
    color: #f5f5f5;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    line-height: 30px;
    padding-right: 10px;
}

.main__content .main__content--left h2 {
    font-size: 16px;
    color: #222222;
    padding: 20px 0 10px;
    font-weight: bold;
}

.main__content--left .main__content--infor-1 {
    display: flex;
    justify-content: space-between;
}

.main__content--left .main__content--infor-1 h3 {
    font-size: 14px;
    color: #000000;
    line-height: 33px;
}

.main__content--left .main__content--infor-1 h3 span {
    font-size: 16px;
    color: #c90927;
}

.main__content--left .main__content--infor-1 div {
    display: flex;
    align-items: center;
    border: 1px solid #c90927;
    border-radius: 25px;
}

.main__content--left .main__content--infor-1 h4 {
    font-size: 14px;
    color: #c90927;
    padding: 0 8px;
}

.main__content--left .main__content--infor-1 img {
    padding-right: 8px;
}

.main__content--left .main__content--infor-2 a {
    font-size: 14px;
    color: #38699f;
    font-weight: 400;
    line-height: 44px;
}

.main__content--left .main__content--infor-2 span {
    font-weight: bold;
    padding-left: 5px;
}

.main__content--left p {
    font-size: 14px;
    color: #222222;
    padding: 10px 0;
    line-height: 1.5;
}

.main__content--left .main__content--infor-3 {
    text-decoration: underline;
    font-size: 14px;
    color: #33659c;
    line-height: 21px;
}

.main__content--left .main__content--infor-4 .col-sm-6 {
    display: flex;
    align-items: center;
    line-height: 45px;
}

.main__content--left .main__content--infor-4 img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.main__content--left .main__content--infor-4 h3 {
    font-size: 13px;
    color: #222222;
}

.main__content--left .main__content--infor-5 {
    margin-top: 12px;
}

.main__content--left h4 {
    font-size: 14px;
    color: #777777;
    line-height: 32px;
    font-weight: 700;
    border-bottom: 1px solid #cacaca;
}

.main__content--left .row-overflow .col {
    background-color: #ffffff;
    border: 1px solid #fe9900;
    border-radius: 20px;
    line-height: 30px;
    margin: 10px;
    margin-left: 20px;
}

.main__content--left .row-overflow .col a {
    text-decoration: none;
    font-size: 13px;
    color: #222222;

}

.main__content--left .row-overflow {
    overflow-x: scroll;
    margin-bottom: 10px;
}

.main__content--left .row-overflow .row {
    width: 1200px;
}

.main__content--left .main__content--social-network {
    display: flex;
    border-bottom: 1px solid #cacaca;
}

.main__content--left .main__content--social-network img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.main__content--left .main__content--infor-6 {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin-bottom: 10px;
}

.main__content--left .main__content--infor-6-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #fe9900, #ffba00 101.02%);
    box-sizing: border-box;
    padding: 4px 12px;
    border-radius: 4px 4px 0 0;
}

.main__content--left .main__content--infor-6-header div {
    display: flex;
}

.main__content--left .main__content--infor-6-header h2 {
    color: #ffffff;
    font-weight: bold;
    width: 80%;
}

.main__content--left .main__content--infor-6-header p {
    color: #ffffff;
}

.main__content--left .main__content--infor-6 h2 {
    padding: 10px 12px;
}

.main__content--left .main__content--infor-6 p {
    color: #777777;
    font-size: 14px;
    padding: 0 12px;
    font-weight: 400;
}

.main__content--left .main__content--infor-6 p span {
    color: #fe9900;
    font-weight: 700;
}

.main__content--left .main__content--infor-6-main-1 .col-sm {
    margin: 15px 0 20px;
    border-right: 1px solid #e8e8e8;
}

.main__content--left .main__content--infor-6-main-1 .col:last-child {
    border: none;
}

.main__content--left .main__content--infor-6-main-1 img {
    width: 32px;
    height: 32px;
    margin: 0 12px;
}

.main__content--left .main__content--infor-6-main-1 h2 span {
    color: #2275d3;
}

.main__content--left .main__content--infor-6-main-1 p span {
    text-decoration: underline;
    color: #777777;
    font-weight: 400;
}

.main__content--left .main__content--infor-6-main-2 {
    display: flex;
    padding: 0 12px;
}

.main__content--left .main__content--infor-6-main-2 img {
    width: 20px;
}

.main__content--left .main__content--infor-6-main-2 p span {
    font-weight: 700;
    color: #777777;
}

.main__content--left .main__content--infor-6-main-3 {
    display: flex;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    margin: 10px 12px;
    padding: 12px 0;
}

.main__content--left .main__content--infor-6-main-3-1 {
    background-color: #fe9900;
    border-radius: 5px;
    line-height: 20px;
    width: 45%;
}

.main__content--left .main__content--infor-6-main-3-1 h2 {
    color: #ffffff;
}

.main__content--left .main__content--infor-6-main-3-2 {
    line-height: 40px;
    width: 10%;
}

.main__content--left .main__content--infor-6-main-3-2 h3 {
    font-size: 12px;
    color: #000000;
}

.main__content--left .main__content--infor-6-main-3-3 {
    border: 1px solid #fe9900;
    border-radius: 5px;
    width: 45%;
}

.main__content--left .main__content--infor-6-main-3-3 h2 {
    padding-bottom: 0px;
    color: #fe9900;
}

.main__content--left .main__content--infor-6-main-3-3 p {
    font-size: 10px;
    color: #fe9900;
}

.main__content--left .main__content--infor-6-footer {
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    margin: 10px 12px;
    align-items: center;
    background: #f8f8f8;
}

.main__content--left .main__content--infor-6-footer img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.main__content--left .main__content--infor-7 {
    display: flex;
    align-items: center;
    line-height: 48px;
}

.main__content--left .main__content--infor-7 img {
    width: 40px;
}

.main__content--left .main__content--infor-7 p {
    width: 82%;
    margin-left: 10px;
    font-style: italic;
    font-size: 12px;
    color: #222222;
}

.main__content--left .main__content--infor-7 span {
    color: #fe9900;
}

.main__content--left .main__content--infor-8 {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.main__content--left .main__content--infor-8 div a {
    font-size: 12px;
    color: #222222;
    margin: 0 10px;
    padding: 6px 5px;
}

.main__content--left .main__content--infor-8 div:last-child a {
    font-size: 14px;
    background-color: #fe9900;
    color: #ffffff;
    font-weight: 400;
    border-radius: 5px;
}

.main__content--right {
    width: calc(35%);
    box-sizing: border-box;
    border-top: 1px solid #e8e8e8;
    padding: 0 15px;
}

.main__content--right .main__content--right-1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.main__content--right .main__content--right-1-1 {
    width: 60%;
    display: flex;
}

.main__content--right .main__content--right-1-1  img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 10px;
}

.main__content--right .main__content--right-1-1 a {
    font-size: 13px;
    color: #333333;
    line-height: 23px;
}

.main__content--right .main__content--right-1-1 p {
    font-size: 11px;
    color: #9B9B9B;
    line-height: 21px;
}

.main__content--right .main__content--right-1-1 i {
    margin-right: 5px;
}

.main__content--right .main__content--right-1-2 {
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    margin-right: 10px;
}

.main__content--right .main__content--right-1-2 a {
    background-color: #fff;
    border: 1px solid #fe9900;
    color: #fe9900;
    padding: 7px 10px;
    border-radius: 20px;
    font-size: 10px;
}

.main__content--right .main__content--right-2 {
    text-align: center;
    margin: 0;
}

.main__content--right .main__content--right-2 .col-sm-4 {
    padding: 0;
}

.main__content--right .main__content--right-2 p,
.main__content--right .main__content--right-2 a {
    display: block;
    font-size: 14px;
    color: #9B9B9B;
    margin-bottom: 10px;
}

.main__content--right .main__content--right-2 span {
    font-size: 12px;
    color: #222222;
}

.main__content--right .main__content--right-3>div {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    line-height: 40px;
    font-weight: 700;
    font-size: 14px;
}

.main__content--right .main__content--right-3 img {
    width: 24px;
    height: 24px;
}

.main__content--right .main__content--right-3-1 {
    background-color: #33a837;
    color: #fff;
}

.main__content--right .main__content--right-3-2,
.main__content--right .main__content--right-3-3 {
    color: #589f39;
}

.main__content--right .main__content--right-4 {
    display: flex;
    margin: 10px 0;
}

.main__content--right .main__content--right-4 img {
    width: 100px;
    height: 100px;
}

.main__content--right .main__content--right-4 h4 {
    font-style: italic;
    font-size: 13px;
    color: #222222;
}

.main__content--right .main__content--right-4 h4 a {
    color: #fe9900;
}

.main__section {
    max-width: 980px;
    margin: auto;
    background-color: #ffffff;
    border-top: 12px solid #e5e5e5;
    border-bottom: 30px solid #e5e5e5;
}

.main__section--intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__section--intro>h2 {
    color: #222222;
    font-size: 17px;
    font-weight: bold;
    padding: 12px;
    margin: 0;
}

.main__section--intro div {
    display: flex;
    align-items: center;
    color: #38699f;
    font-size: 14px;
    font-weight: bold;
}

.main__section--intro div i {
    padding: 0 10px;
}

.main__section .row {
    margin: 0;
}

.main__section--slider .col-sm {
    padding: 9px;
    border: 1px solid #f4f4f4;
}

.main__section--slider .col-sm:hover {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.main__post--img {
    position: relative;
    width: 100%;
}

.main__section--slider .main__post--img img {
    width: 175px;
    height: 175px;
    margin-bottom: 8px;
}

.main__img--munber {
    width: 24px;
    line-height: 20px;
    background-image: url(https://static.chotot.com/storage/chotot-icons/svg/number-image.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    top: 20px;
    text-align: center;
}

.main__img--munber span {
    color: #ffffff;
    font-size: 11px;
}

.main__post--like {
    position: absolute;
    left: 140px;
    top: 150px;
}

.main__post--content {
    display: flex;
    justify-content: space-between;
}

.main__post--content h3 {
    color: #222222;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}

.main__post--content h4 {
    color: #9b9b9b;
    font-size: 14px;
    margin-bottom: 5px;
}

.main__post--content h5 {
    color: #d0021b;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}

.main__post--content .fa-briefcase {
    color: #9b9b9b;
}

.main__post--content span {
    color: #9b9b9b;
    font-size: 10px;
}

.slick-arrow {
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    border: none;
    color: #9B9B9B;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.slick-prev {
    left: -10px;
}

.slick-prev:hover {
    width: 40px;
    height: 40px;
}

.slick-next {
    right: -10px;
}

.slick-next:hover {
    width: 40px;
    height: 40px;
}

.footer__background {
    background-color: #ffffff;
    padding: 24px 0;
}

.footer__background>div {
    margin: auto;
}

.footer--top {
    margin-top: 30px;
    max-width: 960px;
    font-size: 12px;
    color: #777777;
    padding: 12px;
}

.footer--top .col-flex {
    display: flex;
}

.footer--top .col-flex div div {
    margin: 0 0 18px 12px;
}

.footer--top .col-sm-3:last-child img {
    margin: 0 12px 12px 0;
}

.footer--top h2 {
    font-size: 14px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 12px;
}

.footer--top .col-sm-3 {
    padding: 0;
}

.footer--top .col-sm-3 a {
    text-decoration: none;
}

.footer--top p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 8px;
}

.footer--bottom p {
    border-top: 2px solid #E8E8E8;
    padding-top: 24px;
    font-size: 12px;
    color: #9B9B9B;
    text-align: center;
    margin: 0;
}

.mobile__header,
.mobile__footer--background,
.mobile__footer-nav--background,
.main__advertisement--mobile,
.main__section--slider-mobile {
    display: none;
}

@media only screen and (max-width: 1300px) {

    .header .header__nav .nav,
    .input .log-in,
    .input .post,
    .input__background,
    .footer__background,
    .main__section--slider,
    .main__advertisement {
        display: none;
    }

    .header {
        width: 100%;
        height: 52px;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .mobile__header {
        display: block;
        width: 10%;
        font-size: 150%;
        color: #222222;
        margin-left: 10px;
    }

    .header__nav {
        width: 10%;
    }

    .main {
        width: 100%;
    }

    .main__slide-nav {
        flex-direction: column;
        padding: 0;
    }

    .main__slide--overflow,
    .main__nav {
        width: 100%;
    }

    

  

    .main__slide .carousel-inner {
        border-radius: 0;
    }

    .main__slide .carousel-indicators {
        bottom: -20;
    }

    .main__menu {
        border-top: 12px solid #F4F4F4;
        margin: 0;
    }

    .main__menu--nav--overflow {
        overflow-x: auto;
    }

    .main__menu--nav--overflow .row {
        height: 284px;
        width: 800px;
    }



  
    
    


    .main__section .main__section--intro {
        width: 100%;
    }

    .main__section--slider-mobile .slick-slide {
        height: 280px;
    }

    .main__section--slider-mobile .col {
        border: 1px solid #f4f4f4;
    }

    .main__section--slider-mobile .main__post--img img {
        width: 144px;
        height: 144px;
        margin: 10px 0;
    }

    .main__section--slider-mobile .main__img--munber {
        top: 15;
    }

    .main__section--slider-mobile .main__post--like {
        left: 120px;
        top: 120px;
    }

    .main__section--slider-mobile,
    .main__advertisement--mobile {
        display: block;
        width: 100%;
    }

    .main__advertisement--mobile img {
        width: 100%;
    }

    .mobile__footer--background {
        display: block;
    }

    .mobile__footer {
        width: 100%;
        margin: 16px 12px;
    }

    .mobile__footer div:last-child {
        text-align: center;
    }

    .mobile__footer .row a {
        color: #777777;
        font-size: 10px;
        text-decoration: none;
        text-align: center;
    }

    .mobile__footer-nav--background {
        display: block;
    }
}